{% extends 'base2.html' %}
{% load static %}
{% block body %}
<section id="perspectos">
    <div class="container p-4">
        <div class="row">
            <div class="col-md-12">
            <h2 class="text-center p-3">FPST CURRICULUM</h2>
            <h4 class="text-center p-4">First Year</h4>
            <h6>First Semester</h6>
            <table id="example" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>COURSE CODE</th>
                            <th>DESCRIPTIVE TITLE</th>
                            <th>PRE-REQUISET</th>
                            <th>LECTURE</th>
                            <th>LAB</th>
                            <th>TOTAL UNITS</th>
                            <th>TOTAL HRS/WEEK</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Foods 1</td>
                            <td>Bread & Pastry Production NCII</td>
                            <td></td>
                            <td>2</td>
                            <td>2</td>
                            <td>4</td>
                            <td>8</td>
                        </tr>
                        <tr>
                            <td>Foods 2</td>
                            <td>Intro to Bartending NCII</td>
                            <td></td>
                            <td>2</td>
                            <td>2</td>
                            <td>4</td>
                            <td>8</td>
                        </tr>
                        <tr>
                            <td>GE 1</td>
                            <td>Understanding the Self</td>
                            <td></td>
                            <td>3</td>
                            <td></td>
                            <td>3</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>SocSci 14</td>
                            <td>Personality Dev't. & Public Relations</td>
                            <td></td>
                            <td>3</td>
                            <td></td>
                            <td>3</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Sanigent</td>
                            <td>Sanitation and Hygiene</td>
                            <td></td>
                            <td>3</td>
                            <td></td>
                            <td>3</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>PE 1</td>
                            <td>Physical Fitness</td>
                            <td></td>
                            <td>2</td>
                            <td></td>
                            <td>2</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Rel 1</td>
                            <td>Old Testament</td>
                            <td></td>
                            <td>3</td>
                            <td></td>
                            <td>3</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>GE 4</td>
                            <td>Mathematics in the Modern World</td>
                            <td></td>
                            <td>3</td>
                            <td></td>
                            <td>3</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>NSTP 1</td>
                            <td>Nat'l Service Training Program 1</td>
                            <td></td>
                            <td>3</td>
                            <td></td>
                            <td>3</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td><b>Total</b></td>
                            <td></td>
                            <td></td>
                            <td>24</td>
                            <td>4</td>
                            <td>28</td>
                            <td>36</td>
                        </tr>
                    </tbody>
                </table>
                <p><strong>**For Assessment in Bartending NCII and Bread & Pastry Production NCII</strong></p>
                <br>
                <h6>Second Semester</h6>
                <table id="example" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>COURSE CODE</th>
                            <th>DESCRIPTIVE TITLE</th>
                            <th>PRE-REQUISET</th>
                            <th>LECTURE</th>
                            <th>LAB</th>
                            <th>TOTAL UNITS</th>
                            <th>TOTAL HRS/WEEK</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Foods 3</td>
                            <td>Bartending 2</td>
                            <td>Foods 2</td>
                            <td>2</td>
                            <td>2</td>
                            <td>4</td>
                            <td>8</td>
                        </tr>
                        <tr>
                            <td>Foods 4</td>
                            <td>Intro to Cookery</td>
                            <td></td>
                            <td>2</td>
                            <td>2</td>
                            <td>4</td>
                            <td>8</td>
                        </tr>
                        <tr>
                            <td>Foods 5</td>
                            <td>Intro to Housekeeping</td>
                            <td></td>
                            <td>3</td>
                            <td></td>
                            <td>3</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Foods 6</td>
                            <td>Culinary Math</td>
                            <td></td>
                            <td>3</td>
                            <td></td>
                            <td>3</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Rel 11</td>
                            <td>The New Testament</td>
                            <td>Rel 1</td>
                            <td>3</td>
                            <td></td>
                            <td>3</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>GE 5</td>
                            <td>Purposive Communication</td>
                            <td></td>
                            <td>3</td>
                            <td></td>
                            <td>3</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>GE 8</td>
                            <td>Ethics</td>
                            <td></td>
                            <td>3</td>
                            <td></td>
                            <td>3</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>GE Elec 1</td>
                            <td>Panitikang Pilipino</td>
                            <td></td>
                            <td>3</td>
                            <td></td>
                            <td>3</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>NSTP 11</td>
                            <td>Nat'l Service Training Program</td>
                            <td>NSTP 1</td>
                            <td>3</td>
                            <td></td>
                            <td>3</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>PE 2</td>
                            <td>Fundamentals of Rhythmic Activities</td>
                            <td>PE 1</td>
                            <td>2</td>
                            <td></td>
                            <td>2</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td><b>Total</b></td>
                            <td></td>
                            <td></td>
                            <td>27</td>
                            <td>4</td>
                            <td>31</td>
                            <td>39</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <h6>Summer</h6>
                <table id="example" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>COURSE CODE</th>
                            <th>DESCRIPTIVE TITLE</th>
                            <th>PRE-REQUISET</th>
                            <th>LECTURE</th>
                            <th>LAB</th>
                            <th>TOTAL UNITS</th>
                            <th>TOTAL HRS/WEEK</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Foods 7</td>
                            <td>Cookery 2</td>
                            <td>Foods 3</td>
                            <td>2</td>
                            <td>2</td>
                            <td>4</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>Foods 8</td>
                            <td>Intro to Food & Beverage Services</td>
                            <td></td>
                            <td>2</td>
                            <td>2</td>
                            <td>4</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td><b>Total</b></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>8</td>
                            <td>40</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <h4 class="text-center p-4">Second Year</h4>
                <h6>First Semester</h6>
                <table id="example" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>COURSE CODE</th>
                            <th>DESCRIPTIVE TITLE</th>
                            <th>PRE-REQUISET</th>
                            <th>LECTURE</th>
                            <th>LAB</th>
                            <th>TOTAL UNITS</th>
                            <th>TOTAL HRS/WEEK</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Foods 9</td>
                            <td>Cookery 3</td>
                            <td>Foods 7</td>
                            <td>2</td>
                            <td>4</td>
                            <td>6</td>
                            <td>12</td>
                        </tr>
                        <tr>
                            <td>Foods 10</td>
                            <td>Food and Beverage 2</td>
                            <td>Foods 8</td>
                            <td>2</td>
                            <td>2</td>
                            <td>4</td>
                            <td>8</td>
                        </tr>
                        <tr>
                            <td>Foods 11</td>
                            <td>Housekeeping 2</td>
                            <td>Foods 5</td>
                            <td>2</td>
                            <td>2</td>
                            <td>4</td>
                            <td>8</td>
                        </tr>
                        <tr>
                            <td>HBO</td>
                            <td>Human Behavior in Organization</td>
                            <td></td>
                            <td>3</td>
                            <td></td>
                            <td>3</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Mgt 1</td>
                            <td>Finacial Management</td>
                            <td></td>
                            <td>3</td>
                            <td></td>
                            <td>3</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Law</td>
                            <td>Legal Aspect of Food Service</td>
                            <td></td>
                            <td>3</td>
                            <td></td>
                            <td>3</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Mgt 2</td>
                            <td>Hospitality Organization Management</td>
                            <td></td>
                            <td>3</td>
                            <td></td>
                            <td>3</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td><b>Total</b></td>
                            <td></td>
                            <td></td>
                            <td>18</td>
                            <td>8</td>
                            <td>26</td>
                            <td>40</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <h6>Second Semester</h6>
                <table id="example" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>COURSE CODE</th>
                            <th>DESCRIPTIVE TITLE</th>
                            <th>PRE-REQUISET</th>
                            <th>LECTURE</th>
                            <th>LAB</th>
                            <th>TOTAL UNITS</th>
                            <th>TOTAL HRS/WEEK</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>SIT 1</td>
                            <td>Orientation & Seminar</td>
                            <td></td>
                            <td>1</td>
                            <td></td>
                            <td>1</td>
                            <td>8</td>
                        </tr>
                        <tr>
                            <td>SIT 11</td>
                            <td>Supervised Industry Training</td>
                            <td>SIT 1</td>
                            <td></td>
                            <td>19</td>
                            <td>19</td>
                            <td>600</td>
                        </tr>
                        <tr>
                            <td><b>Total</b></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>20</td>
                            <td>608</td>
                        </tr>
                    </tbody>
                </table>
                <br>
            </div>
        </div>
    </div>
</section>
{% endblock body %}