{% extends 'base2.html' %}
{% block body %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-10 p-4">
                <h3>ACADEMICS</h3>
                <br>
                <h5>Colleges and Accreditation</h5>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                The academic work of the College of Maasin offered: the Colleges of Arts and Sciences, Business Administration, Computer Studies, Midwifery, Caregiver, Education, , Nursing . In addition the Colleges of Education, Business Administration, Nursing.
                            </p>
                            <p>
                                Short term courses are offered by the different colleges as part of their continuing education program or their community extension services. Those of the Maritime College have recently been accredited by the Professional Regulations Commission. 
                            </p>
                            <p>
                                The College is accredited by the Philippine Association of College of Maasin-Commission on Accreditation (PAASCU). The College of Nursing is an applicant status for Level I accreditation status; the Colleges of Arts and Sciences, Business Administration, Education, and College hold Level II accreditation status. The Colleges of Criminology, Engineering and Architecture, and Business Administration are authorized by the Commission of Higher Education (CHED) to confer undergraduate/graduate postgraduate academic degrees under the Expanded Tertiary Education Equivalency and Accreditation Program (ETEEAP). 

                            </p>
                            <p>
                                The Special programs of the CM include the Special Trimestral Doctor in Management Program for Thai Executives, the Professional Education Courses in Special Education (SPED Modular Program) leading to a Diploma of Proficiency in Special Education, and Call Center Training. Under process is the application for Medical Transcription course. 
                            </p>
                        </div>
                    </div>
                </div>
                <h5>
                    Academic Year 
                </h5>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                The academic year is divided into two 18-week semesters and a 6-week summer term following the second semester. Each term is followed by a 2-week vacation. (Please refer to the College Academic Calendar (in loose leaf) for the dates during the school year.)
                            </p>
                            <p>
                                There are special programs, however, which do not follow the semestral term, such as the Special Trimestral Doctor in Management Program for Thai Executives and the SPED Modular Program which covers six months meeting on Sundays only.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}