{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-10 p-4">
            <h3>Admission Policies</h3>
            <br>
            <h5>General Admission Requirements</h5>
            <p>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            1. Students of any nationality, regardless of religious belief, or political affiliation, are welcome to the College of Maasin. The College, however, reserves the right at any time to refuse or not to readmit students under certain conditions. A student’s application for admission will be given due course by the University when the applicant meets all the academic requirements and possesses all the qualifications prescribed by the College of Maasin  and the Commission on Higher Education.
                            <br>
                            <br>
                            2. CM admits male and female students.
                            <br>
                            <br>
                            3. A student who is involved in any pending civil, criminal or administrative case/cases shall present upon enrolment Police Clearance, Municipal Trial Court Clearance, City Fiscal / Provincial Fiscal Clearance. The University does not admit any student who has been convicted of any criminal offense even if there is a pending appeal.
                            <br>
                        </div>
                    </div>
                </div>
            </p>
            <h5>Credentials To Be Submitted Upon Enrollment</h5>
            
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h6>1. Freshmen / High School Graduates / New Enrollees</h6>
                        <p>
                        
                        High school graduates who seek admission in the University immediately after their graduation must submit the original copy of their FORM 138 or report card marked eligible for admission to college, which has not been previously cancelled by any other institution.
                        <br>
                        <h6>2. Transferees</h6>
                        College students coming from other schools or universities should present the following:
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>
                                        <br>
                                        a. Original Transfer Credentials / Honorable Dismissal
                                        <br>
                                        b. Transcript of Records
                                        <br>
                                        c. Good Moral Character Certificate
                                        <br>
                                        d. Four pieces of recent 2" x 2" colored picture
                                    </p>
                                </div>
                            </div>
                        </div>
                        <h6>3. Cross Enrollees</h6>
                        <p>
                            College students, who are enrolled in their mother school and allowed by the same to take subjects in UV for a particular term, must present their CROSS REGISTRATION PAPERS and two pieces of their recent photograph, size 2" x 2". 
                        </p>
                        <h6>For Foreign Students </h6>
                        <p>
                            An alien admitted in the Philippines under the visa category may apply with the Bureau of Immigration for the change / conversion of his/her admission status to that of a student under Section 9 (f) of the Philippines Immigration Act of 1940, as amended pursuant to E.O. No. 285.
                        </p>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h6>Requirements for Enrollment of Foreign Student</h6>
                                    <p>
                                        1. Scholastic records duly authenticated by the student’s country of origin or legal residence.
                                        <br>
                                        <br>
                                        2. Police Clearance Certificate issued by the National Police Certificate issued by the National Police Authorities in the student’s country of residence duly authenticated by the Philippine Foreign Service Post having consular jurisdiction over the place for students who resided in the Philippines for less than 60 days.
                                        <br>
                                        <br>
                                        <strong>Note: </strong>
                                        For a student who has resided in the Philippines for more than 60 days at the time he applies for the said change / conversion of his admission status, he shall be required to submit the National Bureau of Investigation (NBI) clearance.
                                        <br>
                                        <br>
                                        3. Proof of adequate financial support to cover expenses for the student’s accommodation and subsistence, as well as school dues and other incidental expenses.
                                        <br>
                                        <br>
                                        4. Quarantine medical examination certificate issued by the National Quarantine Office.
                                        <br>
                                        <br>
                                        5. Copy of the student’s personal history statement signed by the student with 2 x 2 inch photograph recently taken.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}