{% extends 'base2.html' %}
{% load static %}
{% block body %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-10 p-4">
            <p>
                <h3>Code of Conduct for Students</h3>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                For any society to function properly, a system of rules and regulations must be instituted to govern the relations among its individual members. This need for order is all the more imperative in the University considering the nature of its commitment to quality education. The diversity of the University population demands that a standard of conduct be established to inculcate self-discipline among its constituents and to facilitate the difficult task of preparing the youth for citizenship. Thus, to promote its educational goals, objectives and policies, the University hereby promulgates this code of conduct and enjoins all students to familiarize themselves with it.
                            </p>
                        </div>
                    </div>
                </div>
                <h3>Student Deportment</h3>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                CM is a community of learners. We are here to learn. To be able to learn effectively, however, there are a number of rules of behavior we have to observe. 
                                <br>
                                <br>
                                1. Regular attendance in classes is must for every student. In special cases, however, some students may be excused from attending classes if they are doing research, library work and other learning-related activities upon approval of the Dean or Instructor. 
                                <br>
                                <br>
                                2. Punctuality is desired of every student. Habitual tardiness is a sign of poor scholarship attitude. 
                                <br>
                                <br>
                                3. Always wear your school uniform on prescribed days. Non-wearing of the uniform suggests lack of self-discipline. 
                                <br>
                                <br>
                                4. Don't forget to wear your I.D. It is required for security reasons. Besides, we would like to know your name. 
                                <br>
                                <br>
                                5. Decency is required for school attires. Shorts (for male and females) is a no no, except on special occasions such as intramurals and field trips. 
                                <br>
                                <br>
                                6. Sandals cannot be tolerated, but step-ins are okay, Long hair and earrings for men do not go with good grooming. 
                                <br>
                                <br>
                                7. While waiting for your class outside your classroom, avoid making noise as this disturbs on-going classes nearby. 
                                <br>
                                <br>
                                8. Proper behavior is expected of you wherever you are in the school compound. Loud talks and childish antics are intolerable actuations. 
                                <br>
                                <br>
                                9. In passing through anywhere in the University campus, always keep to the right to facilitate ease of movement. 
                                <br>
                                <br>
                                10. Smoking is taboo anywhere in the University campus, except in the designated areas.
                                <br>
                                <br>
                                11. For those who have extra time, the right place is the library. Read books and periodicals to supplement classroom learning. You will be the wiser for it in the long run.
                                <br>
                                <br>
                                12. Help keep the school clean. Throw your waste materials into the trash cans and keep spittle to yourself or use the toilet bowl for it.
                                <br>
                                <br>
                                13. If you feel like hugging your BF or GF, don't! Romantic indiscretion does not go well among a community of learners.
                                <br>
                                <br>
                                14. Always fall in line while waiting for your turn at the accounting department, at the registrar's office, or at the MIS. Educated people never disregard the “first come first serve” rule. 
                                <br>
                                <br>
                                15. If you have complaints, let your Dean hear them, instead of airing them to others. That way you get results.
                                <br>
                                <br>
                                16. One final thing: YOU ARE A VISAYANIAN. Love should be your obsession, service your commitment. 
                            </p>
                        </div>
                    </div>
                </div>
                <h3>Rules and Student Discipline</h3>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                The following practices are prohibited in the campuses. A corresponding sanction is imposed on erring students. 
                                <br>
                                <br>
                                1. Drunkenness and Drug Abuse
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p>
                                                a. Use, possession or distribution of prohibited drugs (including prohibited cough syrup,         marijuana, shabu, hallucinogens etc.).
                                                <br> 
                                                b. Entering the school campus under the influence of liquor or drugs. 
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                2. Forgery, alteration or misuse of university documents, records or credentials.
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p>
                                                a. Cheating.
                                                <br>
                                                b. Theft / Stealing. 
                                                <br>
                                                c. Forging or tampering school ID's, records, forms and Transfer Credentials. 
                                                <br>
                                                d. Lending one's ID to another and the willful possession of two or more ID's.
                                                <br>
                                                e. Lending or borrowing one's ID or Exemption ID to another.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                3. Vandalism (willful or malicious destruction or defacement of school facilities and     properties) 
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p>
                                                a. Destroying and defacing classroom walls, furniture and other school properties.
                                                <br>
                                                b. Graffiti (writings on any part of the school building). 
                                                <br>
                                                c. Unauthorized removal of official notices and posters from the bulletin boards and similar acts. 
                                                <br>
                                                d. Throwing waste papers, cigarette butts or rubbish except on trash boxes or cans. 
                                                <br>
                                                e. Spitting on classrooms, stairs and hallways. 
                                                <br>
                                                f. Destroying chairs and tables.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                4. Making, publishing, or circulating of defamatory information about the university, its     officials, faculty members or students.
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p>
                                                a. Possession or distribution of subversive, libelous publication materials
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                5. Obstruction or disruption of teaching administrative work, disciplinary proceedings, or other university activities including acts tending to disrupt and disturb classes.
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p>
                                                a. Preventing or threatening teachers and students from performing their duties,         attending classes or entering school premises.
                                                <br>
                                                b. Loitering in the lobby, corridors, hallways, and stairways. 
                                                <br>
                                                c. Disturbance of classes such as excessive noise/reaction in the classroom and within the school premises.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                6. Physical assault on any person within the school premises of the University, which includes hazing.
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p>
                                                a. Inflictions of physical harm against a teacher and school personnel. 
                                                <br>
                                                b. Infliction of moral harm such as slander, verbal fights. 
                                                <br>
                                                c. Brawls and fistfights.
                                                <br>
                                                d. Picking a fight with anyone in the campus including school personnel and security         staff.
                                                <br>
                                                e. Disrupting, refusing and disregarding arrests, summons, and notices of personal         appearance before persons in authority (person in authority include administrative         employees, faculty members, and security staff) 
                                                <br>
                                                f. Carrying deadly weapons (bladed, firearms etc.) or threatening to harm another        persons with any of the like within school premises.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                7. Gambling within the school premises.
                                <br>
                                <br>
                                8. Smoking inside the classroom and other prohibited areas in the university. 
                                <br>
                                <br>
                                9. Committing immoral acts.
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p>
                                                a. Indecent exposure 
                                                <br>
                                                b. Obscene, lascivious language and/or behavior/act 
                                                <br>
                                                c. Possession of pornographic materials. 
                                                <br>
                                                d. Molesting and committing vandalistic, vulgar and indecent acts towards co-students,         employees and faculty members.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            </p>
        </div>
    </div>
</div>
{% endblock body %}