{% extends 'base2.html' %}
{% block body %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-10 p-4">
                <h3>Scholarship and Privileges</h3>
                <br>
                <h5>Entrance Examination</h5>
                <p>
                    <div class="container">
                        <div class="row">
                            <div class="container">
                                Valedictorian and Salutatorian – free tuition fee for one year with cash incentives
                                Honorable Mention – discount on tuition fee for one semester following this schedule:
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p>
                                                1st = 35%
                                                <br>
                                                2nd = 30%
                                                <br>
                                                3rd = 25%
                                                <br>
                                                4th = 20%
                                                <br>
                                                5th = 15%
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </p>
                <h5>Academic Scholar</h5>
                <p>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    General Ave. 1.0 – 1.20 – Full Free Scholar
                                    <br>
                                    General Ave. 1.21 – 1.45 – 50% on tuition fee
                                </p>
                            </div>
                        </div>
                    </div>
                    With brothers and sisters in CM (with lowest tuition fee)
                    <br>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                2 = each will get 10% discount
                                <br>
                                3 = one will get 50% discount
                                <br>
                                4 = one will get free tuition fee
                                <br>
                                5 = one will get free tuition fee and one will get 50% discount
                                <br>
                                6 = two will get free tuition fee
                                <br>
                                7 = two will get free tuition fee and one will get 50% discount
                            </div>
                        </div>
                        <br>
                        Children /Husband /Wife of UV full time faculty – 50% on tuition.
                        <br>
                        <br>
                        Government Employees /Teachers – 30% discount on tuition fee
                        <br>
                        <br>
                        CM Faculty – 6 units free for undergraduate, 9 units for graduate school 
                        <br>
                        <br>
                        Early Enrolment Discount – 10% for old student who will enroll three weeks before the regular enrolment for the next semester / term.
                        <br>
                        <br>
                        <strong>NOTE: </strong>If more than one discount is applicable to a student applicant, the maximum accumulated discount should not be over 40%.
                        <br>
                    </div>
                </p>
                <h5>Athletic and Cultural Grants</h5>
                <p>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    Free tuition fee for varsity players in basketball, volleyball, soccer, tennis, chess, scrabble, boxing and other sports. Dance troupe members, singers, theatre, and drama guild members, and those who are gifted in painting also enjoy this privileged. 
                                </p>
                            </div>
                        </div>
                    </div>
                </p>
            </div>
        </div>
    </div>
{% endblock body %}