{% extends 'base.html' %}
{% block body %}
<div class="container p-5">
    <div class="row justify-content-md-center">
        <div class="col-md-10">
            <h4 class="text-center">"The Alma Matter Song"</h4>
            <p class="text-center">
                The College of Maasin, beloved school
                <br>
                We know set on rolling hill-side
                <br>
                Where breezes cool do blow,
                <br>
                For Filipino youth it stands that
                <br>
                The truth may see,
                <br>
                All hail to You, Alma Mater,
                <br>
                We pledge our loyalty
                <br>
                <br>
                Your students far and wide,
                <br>
                Do come to your dear halls
                <br>
                To join their hearts in brotherhood
                <br>
                In search for knowledge sure.
                <br>
                In Christian fellowship they live that
                <br>
                O'er life's fight excel.
                <br>
                With courage strong their battles gain
                <br>
                That peace and truth may reign
                <br>
                <br>
                "Without God in Vain"
                <br>
                Your motto firm we sing
                <br>
                God take you in his keeping
                <br>
                AS you his love proclaim
                <br>
                Rejoice in truth in service
                <br>
                Here tho' years may come and go
                <br>
                The College of Maasin, to you well all be true.
            </p>
            <br>
            <h4 class="text-center">"The College of Maasin Hymn</h4>
            <p class="text-center">
                The College of Maasin,
                <br>
                Alma Mater so dear
                <br>
                To thy cause we do pledge ourselves;
                <br>
                And our hearts will remain
                <br>
                Ever true to thy name
                <br>
                Of the dear school we love so well.
                <br>
                <br>
                Chorus:
                <br>
                Alma Mater, we'll keep you
                <br>
                Wherever we go; Alma Mater, we love you
                <br>
                No other can know
                <br>
                In our work and our pleasures
                <br>
                Our hearts will be true
                <br>
                To the dear school to which
                <br>
                All our homage is due;
                <br>
                Your ideals and your standards
                <br>
                Are the best that we know,
                <br>
                They will guide us and keep us
                <br>
                Wherever we go;
                <br>
                We pledge ourselves
                <br>
                To thy cause rigth and true;
                <br>
                Dear Alma Mater,
                <br>
                We're true to you.

            </p>
        </div>
    </div>
</div>
{% endblock body %}